/* Farben */
.farbe-ort {
  background-color: #b6d3ff;
  color: #000000;
}
.farbe-bewegung {
  background-color: #b60000;
  color: #000000;
}
.farbe-dimensionierung {
  background-color: #8ab6ad;
  color: #000000;
}
.farbe-positionierung {
  background-color: #db8300;
  color: #000000;
}
.farbe-richtung {
  background-color: #92ffbd;
  color: #000000;
}
.active {
  background-color: #009688;
}
#beispieltextBtns_ort:hover {
  background-color: #b6d3ff !important;
}
#beispieltextBtns_bewegung:hover {
  background-color: #b60000 !important;
}
#beispieltextBtns_dimensionierung:hover {
  background-color: #8ab6ad !important;
}
#beispieltextBtns_positionierung:hover {
  background-color: #db8300 !important;
}
#beispieltextBtns_richtung:hover {
  background-color: #92ffbd !important;
}

/* Größen und Abstände */
h2 {
  margin-top: 32px;
}
.content {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  max-width: 700px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
#beispieltextBtns > div {
  margin: 4px;
}
#beispieltextText > :nth-child(1) {
  line-height: 2.3em;
}
#example > div > blockquote > p > span.farbe-ort,
#example > div > blockquote > p > span.farbe-bewegung,
#example > div > blockquote > p > span.farbe-dimensionierung,
#example > div > blockquote > p > span.farbe-positionierung,
#example > div > blockquote > p > span.farbe-richtung {
  cursor: pointer;
  padding: 4px;
}

/* Accordion */
.accordion {
  transition: 0.4s;
}
.accordion-panel {
  white-space: wrap !important;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#accordion-ort-examples {
  background-color: #d3e4fe;
  color: #000000;
  border-left: 6px solid #b782e3;
}
.annotation-class-tags {
  line-height: 2.3em; 
}
.annotation-class-tags > .w3-tag {
  margin-bottom: 4px;
}

/* Zeilenumbruch */
.break-word {
  overflow-wrap: break-word;
}

/* Tooltips */
.w3-tooltip > span.w3-text {
  position: absolute;
  left: 0;
  bottom: 28px;
  min-width: 100px;
  border: 2px solid black;
}