/* Farben */
.farbe-ort {
  background-color: #b6d3ff;
  color: #000000;
}
.farbe-bewegung {
  background-color: #b60000;
  color: #ffffff;
}
.farbe-dimensionierung {
  background-color: #8ab6ad;
  color: #000000;
}
.farbe-positionierung {
  background-color: #db8300;
  color: #000000;
}
.farbe-richtung {
  background-color: #92ffbd;
  color: #000000;
}
.w3-dark-pale-green {
  background-color: #75f8a2;
  color: #000000;
}
.w3-light-orange {
  background-color: #fdc46e;
  color: #000000;
}
.w3-text-dark-orange {
  color: #962a00;
}
.w3-text-dark-red {
  color: #52130e;
}
.w3-text-dark-green {
  color: #427c59;
}
.w3-middle-grey {
  background-color: #cecece;
  color: #000000;
}
.active {
  background-color: #009688;
  cursor: default;
}
div[data-id="beispieltextBtns_ort"]:hover {
  background-color: #b6d3ff !important;
}
div[data-id="beispieltextBtns_bewegung"]:hover {
  background-color: #b60000 !important;
}
div[data-id="beispieltextBtns_dimensionierung"]:hover {
  background-color: #8ab6ad !important;
}
div[data-id="beispieltextBtns_positionierung"]:hover {
  background-color: #db8300 !important;
}
div[data-id="beispieltextBtns_richtung"]:hover {
  background-color: #92ffbd !important;
}

/* Größen und Abstände */
h2 {
  margin-top: 32px;
}
.content {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  max-width: 700px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
div[data-id="beispieltextBtns"] > div {
  margin: 4px;
}
blockquote[data-id="beispieltextText"] > :nth-child(1) {
  line-height: 2.3em;
}
div[data-id="example"] > div > blockquote > p > span.farbe-ort,
div[data-id="example"] > div > blockquote > p > span.farbe-bewegung,
div[data-id="example"] > div > blockquote > p > span.farbe-dimensionierung,
div[data-id="example"] > div > blockquote > p > span.farbe-positionierung,
div[data-id="example"] > div > blockquote > p > span.farbe-richtung {
  cursor: help;
  padding: 4px;
}

/* Accordion */
div[data-id="accordion"] {
  transition: 0.4s;
}
div[data-id="accordion"] > :nth-child(1) {
  max-height: 4em;
}
.accordion-panel {
  white-space: wrap !important;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-panel > h4 {
  margin-top: 36px;
}
div[data-id="accordion-ort-examples"] {
  background-color: #d3e4fe;
  color: #000000;
  border-left: 6px solid #b782e3;
  padding-left: 32px;
  padding-right: 32px;
}
div[data-id="accordion-bewegung-examples"] {
  background-color: #f4947a; /* #fef3d3 */
  color: #000000;
  border-left: 6px solid #cf5555;
  padding-left: 32px;
  padding-right: 32px;
}
div[data-id="accordion-dimensionierung-examples"] {
  background-color: #d0d0d0;
  color: #000000;
  border-left: 6px solid #949494;
  padding-left: 32px;
  padding-right: 32px;
}
div[data-id="accordion-positionierung-examples"] {
  background-color: #ff9662;
  color: #000000;
  border-left: 6px solid #b42323;
  padding-left: 32px;
  padding-right: 32px;
}
div[data-id="accordion-richtung-examples"] {
  background-color: #fdf2d2;
  color: #000000;
  border-left: 6px solid #c4c886;
  padding-left: 32px;
  padding-right: 32px;
}
div[data-id="accordion-ort-examples"] > p > .w3-tooltip, 
div[data-id="accordion-bewegung-examples"]  > p > .w3-tooltip, 
div[data-id="accordion-dimensionierung-examples"]  > p > .w3-tooltip, 
div[data-id="accordion-positionierung-examples"] > p > .w3-tooltip,
div[data-id="accordion-richtung-examples"] > p > .w3-tooltip {
  cursor: help;
}
.annotation-class-tags {
  line-height: 2.3em; 
}
.annotation-class-tags > .w3-tag {
  margin-bottom: 4px;
  cursor: pointer;
}
.active-class-tag {
  border: 1px solid black;
  cursor: default!important;
}
.close-accordion-chevron {
  position: relative;
  left: 97%;
  top: -3em;
  cursor: pointer;
  display: none;
}

/* Zeilenumbruch */
.break-word {
  overflow-wrap: break-word;
}
.inline-examples {
  white-space: nowrap;
}

/* Tooltips */
.w3-tooltip > span.w3-text {
  position: absolute;
  left: 0;
  bottom: 28px;
  min-width: 100px;
  border: 2px solid black;
}